*{
  box-sizing: border-box;
  margin: 0px;
}
body, html {
  margin: auto;
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 0px;
}

body{
  text-align: center;
}

.box{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  margin: 1px 1px;
  padding-top: 15px;
}

.inline-block{
  display: inline-block;
  vertical-align: middle;
}

.cross{
  background-color: lightgreen;
}

.bingo-label{
  margin: 0px 5px; 
  height: 10xp; 
  width: 40px; 
  text-align: center;
}